.expertiseContent__container {
  margin: 0 !important;
  margin-top: 1rem !important;
  user-select: none;
  /* transform: translateX(-8px); */
}

.expertyCard:hover {
  transform: scale(1.02) !important;
  transition: transform 0.4s;
}

.expertyCard h4 {
  color: rgb(236, 255, 253);
  font-size: 17px;
  margin-bottom: 0;
  padding-bottom: 16px;
  margin-top: 18px;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #1456ad;
}

.expertyCard ul {
  padding-left: 25px;
}

.expertyCard li {
  font-size: 15px;
  margin-top: 12.5px;
  letter-spacing: 0.2px;
  color: var(--text);
  opacity: 0.8;
}

.MuiGrid-spacing-xs-2 {
  width: 100% !important;
}
