.expertiesGroup {
  margin-top: 3rem;
}

.expertiesGroup__heading {
  margin-bottom: 2rem;
}

.expertiesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exprtyItem__imageShadow {
  border-radius: 50%;
  box-shadow: 2px 3px 10px rgba(150, 150, 150, 0.5);
}

.expertiesItem__logoShape {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 80px;
  height: 80px;
  background-color: var(--background-light);
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.expertiesItem__logoShape > img {
  width: 75px;
}

.MuiGrid-spacing-xs-2 {
  width: 100% !important;
}
