.MuiHeading {
  color: var(--secondary-light) !important;
}

.MuiHeading.type1 {
  font-size: 17px !important;
  font-family: Consolas1 !important;
  font-weight: 500 !important;
}

.MuiHeading.type2 {
  font-size: 17px !important;
  font-family: "Roboto" !important;
  font-weight: 400 !important;
  letter-spacing: 0.3px;
  margin-left: 3px !important;
}

.MuiHeading2 {
  color: rgb(236, 255, 253);
  font-size: 17px;
}

.MuiButton {
  border: 2px solid var(--secondary) !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-family: "Roboto", sans-serif !important;
}

.MuiButton:hover {
  background-color: var(--secondary) !important;
  color: var(--text-bright) !important;
  transition: color 250ms, background-color 250ms !important;
}

.MuiButton.fs {
  font-size: 14px !important;
}
